<article>
  <div class="wrapper">
    <div class="col-sm-12">
      <h1 class="text-center heading">Kisan OTP service</h1>
    </div>
    <div class="btn-holder">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12  text-center">
            <a [routerLink]="['/contacts']"
              ><button class="btn btn-primary btn-lg">Contacts</button></a
            >
          </div>
          <div class="col-md-6 col-sm-12 text-center">
            <a [routerLink]="['/log']"
              ><button class="btn btn-outline-secondary btn-lg">Logs</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<app-footer></app-footer>
