<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">KisanOTP</h5>
        <p class="grey-text text-lighten-4">
          OTP CRM prototype created in response to KisanOTP challenge
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Useful Links</h5>
        <ul class="useful-links">
          <li>
            <a class="blue-text text-lighten-3" [routerLink]="['/']"
              >Contacts</a
            >
          </li>
          <li>
            <a class="blue-text text-lighten-3" [routerLink]="['/add-movie']"
              >Logs</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 All rights reserved :D | Web application created by
      <a
        target="_blank"
        href="https://www.linkedin.com/in/bisvarup-mukherjee-78865a131/"
        >Bisvarup Mukherjee</a
      >
      <div class="grey-text text-lighten-4 right social-icons" href="#!">
        <a href="https://github.com/bisho1995" target="_blank"
          ><i class="fab fa-github"></i></a
        >&nbsp;
        <a
          href="https://www.linkedin.com/in/bisvarup-mukherjee-78865a131/"
          target="_blank"
          ><i class="fab fa-linkedin"></i></a
        >&nbsp;
        <a
          href="https://drive.google.com/open?id=1Vd7rRLwi8oJaAcZcYhRECSL8-lgs_g7d"
          target="_blank"
        >
          <i class="fas fa-file-pdf"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
