<app-header></app-header>
<article class="container">
  <div class="row">
    <div class="col-sm-3"><app-aside></app-aside></div>
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">
          <form>
            <label for="name">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              disabled
              [value]="computeName()"
              class="form-control"
            />
            <label for="number">Number</label>
            <input
              id="number"
              type="text"
              name="number"
              class="form-control"
              disabled
              [value]="contact.phone"
            />
            <label for="message">Message</label>
            <textarea
              class="form-control"
              id="message"
              name="message"
            >Here is your otp 123456</textarea>
            <div class="text-center">
              <input
                type="submit"
                value="Send message"
                class="form-control"
                class="btn send-message"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</article>
<app-footer></app-footer>
