@import "../../../colors.scss";
form {
  width: 95%;
  max-width: 400px;
  left: 50%;
  transform: translateX(-50%);
  label {
    font-weight: bold;
  }
  #message {
    height: 100px;
  }
  .send-message {
    margin-top: 10px;
    background: $blue;
    color: $white;
  }
}
