@import "../../../../colors.scss";
ul {
  padding: 0;
  li {
    list-style: none;
    background: $light-black;
    color: $white;
    padding: 5px 10px;
    border-bottom: 1px solid $black;

    a {
      color: $white;
      text-decoration: none;
    }
  }
  li:hover {
    background: $black;
  }
}

@media only screen and (max-width: 600px) {
  .hidden-sm {
    display: none;
  }
}
