<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col=sm-4"><img src="#" /></div>
      <div class="col-sm-8">Firstname middlename lastname</div>
    </div>
    <div class="row"><b>Company:</b> Kisan network</div>
    <div class="row"><b>Email:</b> Kisan network</div>
    <div class="row"><b>Phone:</b> 9123978452</div>
    <div class="row"><b>Birthday:</b> Kisan network</div>
    <div class="row">
      <a [routerLink]="['../', 'message']"
        ><button class="btn message">Message</button></a
      >
    </div>
  </div>
</div>
