<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col=sm-4"><img src="#" /></div>
      <div class="col-sm-8">
        {{ contact.first_name }} {{ contact.middle_name }}
        {{ contact.last_name }}
      </div>
    </div>
    <div class="row">
      <span><b>Company:</b></span> {{ contact.company }}
    </div>
    <div class="row">
      <span><b>Email:</b></span> {{ contact.email }}
    </div>
    <div class="row">
      <span><b>Phone:</b></span> {{ contact.phone }}
    </div>
    <div class="row">
      <span><b>Birthday:</b></span> {{ contact.birthday }}
    </div>
    <div class="row">
      <a [routerLink]="['../', 'message']"
        ><button class="btn message">Message</button></a
      >
    </div>
  </div>
</div>
