/* You can add global styles to this file, and also import other style files */
@import "./colors.scss";
* {
  position: relative;

  body {
    background: $gray;

    h1 {
      font-size: 1.5rem;
    }

    article {
      background: $white;
    }

    table {
      margin-top: 1rem;
      width: 100%;
      display: block;
      overflow: scroll;
    }

    .success {
      color: $green;
    }
    .failure {
      color: $red;
    }
  }
}
